/*
##################################################################
HEADER
##################################################################

*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url(https://cdn.vectorstock.com/i/1000v/46/74/partners-investors-businessmen-glyph-icon-vector-28884674.avif);
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat; 
    height: 200px;
    border-bottom: 2px solid rgb(255, 158, 2);
  }
  
  /*
##################################################################
HEADER CONTENT
##################################################################
*/

/*
##################################################################
LOGO
*/

.logo-container {
    flex-shrink: 0; 
  }
  
  .logo {

height: 200px;
width: auto;
  }
/*
##################################################################
*/

/*
##################################################################
NAVBAR
*/
.nav-links ul {
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
/*
##################################################################
*/
